@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark &));

* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  cursor: none;
}

/* لون البراند */
@theme {
  --color-primary: #0B1F3B;  /* Navy */
}